.homePageMain {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.homeForm {
  background: #282a36;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-width: 90%;
}

.homeForm img {
  height:150px;
  width: 150px;
  margin-left: 125px;
  margin-bottom: 30px;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.eachInput {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  margin-bottom: 15px;
  background: #ddd;
  font-size: 16px;
  font-weight: bold;
}

.mainLabel {
  margin-bottom: 20px;
  margin-top: 0;
}

.joinBtn {
  background: #4aed88;
  width: 175px;
  margin-left: auto;
  margin-bottom: 20px;
  font-weight: 600;
}

.joinBtn:hover {
  background: #2b824c;
}

.createInfo {
  margin: auto;
}

.createBtn {
  padding: 7px;
  font-size: 15px;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.createBtn:hover{
  background: #bbb;
}

footer {
  position: fixed;
  bottom: 0;
  color: #4aee88;
}

